body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100vh;
    margin:10px;
}

.container {
    background: #fff;
    border-radius: 12px;
    border: 1px solid #708A58;
    padding: 1rem;
    width: 50vh;
    height: 40vh;
    align-content: center;
    text-align: center;
}

.container img {
    display: block;
    margin: 0 auto;
    border-radius: 8px;
}

.container p {
    margin-top: 2rem;
    font-size: large;
}

.tell-category{
    margin: 30px 0;
    text-align: center;
    color: #708A58;
}

@media (max-width: 768px) {
    .wrapper {
      flex-direction: column;
      height: auto;
      padding: 1rem;
    }
  
    .container {
      width: 100%;
      max-width: 400px; /* optional limit */
      height: 35vh; /* let height adjust automatically */
    }
  }